// GROUP=Lectures
// COURSE=APH
// NAME=Design
// LOCALE=en 
// ORDER=12
doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug
include ./mixins/title.pug
include ./mixins/quotes.pug
include ./mixins/summary.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';
- var defaultBgr = 'backgrounds/bgr_arcades2.jpg';

html(lang='en')
	+header('Design', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')

	.reveal
		.slides
			+titleLecture('Design', 'Lecture 12', globalAssets+'lectures/ic_lecture12.svg')
			include ./chapters/design_design.pug
			+frameInbox('The final word')
				div
					.text-center.mt-100
						img.height-600(src=imgAssets+'aphclass.png')
					div.top-220.left-700.width-580.height-300
						img.height-200(src=imgAssets+'pacman.png')
			+quote-exupery()

	+footer('Adam Vesecký', 'Architecture of Video Games, Lecture 12: Design')
	script(src!='../../scripts/reveal-setup.js')