// GROUP=Lekce
// COURSE=APH
// NAME=Patterny a postupy
// LOCALE=cs 
// ORDER=5
doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug
include ./mixins/title.pug
include ./mixins/quotes.pug
include ./mixins/summary.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';
- var defaultBgr = 'backgrounds/bgr_arcades2.jpg';

html(lang='cs')
	+header('Patterny', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')
	.reveal
		.slides
			+titleLectureCs('Patterny', 'Přednáška 5', globalAssets+'lectures/ic_lecture05.svg')
			+frameInbox('Literatura')
				ul
					li
						a(href="https://www.amazon.com/Game-Programming-Patterns-Robert-Nystrom/dp/0990582906") Nystrom, Robert. 2014. Game Programming Patterns
				div.text-center
					img.height-550(src=globalAssets+'book_programming_patterns.jpg' alt='Nystrom, Robert. Game Programming Patterns')
			include ./chapters/patterns_intro_cs.pug
			include ./chapters/patterns_action_cs.pug
			include ./chapters/patterns_optimizing_cs.pug
			include ./chapters/patterns_structural_cs.pug
			include ./chapters/patterns_state_cs.pug
			include ./chapters/patterns_creational_cs.pug
			include ./chapters/patterns_simulation_cs.pug
			+frameInbox('Patterny - shrnutí')
				.important-green
					ul.spacing-md
						li.fragment <span class="highlight">Builder</span> používáme pro vytváření nových objektů
						li.fragment <span class="highlight">Factory</span> používáme pro orchestraci vytváření objektů
						li.fragment <span class="highlight">Prototyp</span> používáme pro klonování šablonových objektů
						li.fragment <span class="highlight">Chain</span> synchronizuje komplexní procesy
						li.fragment <span class="highlight">Selektor</span> centralizuje informaci, jak se dostat k nějakému objektu
						li.fragment <span class="highlight">Flag</span> uchovává informaci o binárních vlastnostech objektu 
						li.fragment <span class="highlight">Numerický stav</span> implementuje jednoduchý stavový automat
						li.fragment <span class="highlight">Transmuter</span> mění vlastnosti herního objektu
						li.fragment <span class="highlight">Context</span> uchovává globální data
			- var defaultBgr = 'backgrounds/bgr_arcades2.jpg';
			+summary_lecture05cs()
			+quote-openttdcs()

	+footer('Adam Vesecký (FIT ČVUT)', 'Architektura Počítačových Her, Přednáška 5: Patterny')
	script(src!='../../scripts/reveal-setup.js')
