include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var imgAssets = '../assets/audio_synth/';
- var defaultBgr = 'backgrounds/sound_synth.jpg';

+mchapter('Sound synthesizing, recording and composing', imgAssets+'chapter_synth.svg')
+frameInbox('Sound generators')
	.important-orange
		ul
			li.fragment <span class="highlight">generator</span> - oscillator that can make a tone, either independently or by pairing with another generator
				ul
					li.fragment synth music is a combination of generated tones, effects, filters, and recorded sound samples
			li.fragment <span class="highlight">main synthesis types</span>: additive, subtractive, FM, wavetable
		.text-center.mt-20.fragment
			img.height-600(src=imgAssets+'waves.svg' alt='Sound Waves')
+frameInbox('ADSR Envelope')
	.important-green
		ul
			li.fragment(data-fragment-index='0') envelope describes a change of a sound over time
			li.fragment(data-fragment-index='2') <span class="highlight">attack</span> - time it takes for the sound to go from silent to the loudest level
			li.fragment(data-fragment-index='3') <span class="highlight">decay</span> - how long it takes for the sound to go from the initial peak to the steady state
			li.fragment(data-fragment-index='4') <span class="highlight">sustain</span> - steady state at its maximum intensity (until the source stops)
			li.fragment(data-fragment-index='5') <span class="highlight">release</span> - time it takes for the sound to return to silence (fade out)
		.text-center.mt-20.fragment(data-fragment-index='0')
			img.height-450(src=imgAssets+'adsr.svg' alt='Sound ADSR Envelope diagram')
+frameInbox('Effects')
	.important-green
		ul
			li.fragment <span class="highlight">Echo</span> - delayed signals of 50ms or more
			li.fragment <span class="highlight">Reverberation (Reverb)</span> - reflection of sound waves off a solid surface, used for in-door environments
			li.fragment <span class="highlight">Chorus</span> - delayed sound added to the original with a constant delay, adds depth
			li.fragment <span class="highlight">Time stretching</span> - altering the speed without adjusting the pitch
			li.fragment <span class="highlight">Compressor</span> - reduces the dynamic range of a sound, makes loud sounds quieter and quite louder
			li.fragment <span class="highlight">Equalization</span> - attenuating or amplifying various frequency bands
			li.fragment <span class="highlight">Filtering</span> - specific frequency ranges can be emphasized or attenuated
			li.fragment <span class="highlight">Lowpass/highpass</span> - filter that cuts off high or low frequencies
			li.fragment <span class="highlight">Portamento</span> - gradually increases pitch
			li.fragment <span class="highlight">Vibrato</span> - a regular, pulsating change of pitch
			li.fragment <span class="highlight">Tremolo</span> - variation in amplitude (volume)
			li.fragment <span class="highlight">Panning</span> - changing the volume for respective channels
+frameInbox('VST plugins')
	.important-green
		ul
			li.fragment.highlight Visual Studio Technology
			li.fragment interface for digital audio processing
			li.fragment can be integrated in almost every DAW (digital audio workstation)
			li.fragment can simulate basically everything - used as effects, converters, filters, virtual instruments,...
		.text-center.mt-40.fragment
			img.height-500(src=imgAssets+'vst.jpg' alt='VST plugins')
+frameInbox('Sound recording')
	div
		ul
			li.fragment(data-fragment-index='0') <span class="highlight">ambient sounds</span> - directly in the environment, using a good quality microphone
			li.fragment(data-fragment-index='1') <span class="highlight">synthetic sound effects</span> - DAW software (FLStudio, Audacity,...) and a set of VST plugins
			li.fragment(data-fragment-index='2') <span class="highlight">real sound effects</span> - by foley artists
		.flex-cols-2.text-center.mt-80
			div.fragment(data-fragment-index='0')
				img.height-400(src=imgAssets+'sound_rec.jpg' alt='Sound Recording process')
			div.fragment(data-fragment-index='2')
				img.height-400(src=imgAssets+'foley_stage.jpg' alt='Foley stage')
