include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var imgAssets = '../assets/audio_digital_sound/';
- var defaultBgr = 'backgrounds/pcm.jpg';

+mchapter('Digitální zvuk', imgAssets+'chapter_digital_sound.svg')
+frameInbox('PCM')
	.important-orange
		ul.spacing-2xs
			li.fragment.fade-up pulzně-kódovaná modulace, digitální reprezentace analogového signálu
			li.fragment.fade-up <span class="highlight">sample</span> - jeden vzorek, reprezentuje amplitudu signálu v čase
			li.fragment.fade-up <span class="highlight">bit depth</span> - bitová hloubka, jeden bit = 6dB rozsah
			li.fragment.fade-up <span class="highlight">sample rate</span> - počet samplů za vteřinu: 8 kHz, 22.05 kHz, 44.1 kHz, 48 kHz
			li.fragment.fade-up <span class="highlight">frequency</span> - počet pulzů za sekundu
			li.fragment.fade-up <span class="highlight">frame</span> - sekvence samplů pro jeden kanál
			li.fragment.fade-up <span class="highlight">buffer</span> - sekvence framů v paměti, obvykle 64-4096 na jeden buffer
				ul.fragment.fade-up
					li.highlight-2 čím vyšší buffer, tím vyšší latence, ale nižší zatížení processoru
		.text-center.mt-20.fragment.fade-up
			img.height-330(src=imgAssets+'digital_sound.svg' alt='Digital sound diagram')
+frameInbox('Bitová hloubka a sample rate')
	.important-green
		.center
			.grid-rows-2.grid-cols-2.grid.gap-10
				div.fragment
					img.height-380(src=imgAssets+'pcm_attributes_hrld_cs.svg' alt='PCM attributes')
				div.fragment
					img.height-380(src=imgAssets+'pcm_attributes_hrhd_cs.svg' alt='PCM attributes')
				div.fragment
					img.height-380(src=imgAssets+'pcm_attributes_lrhd_cs.svg' alt='PCM attributes')
				div.fragment
					img.height-380(src=imgAssets+'pcm_attributes_lrld_cs.svg' alt='PCM attributes')
+frameInbox('Zvukové formáty')
	div.spacing-xs
		.scope.fragment.fade-up
			p Časová doména
			ul
				li.fragment.fade-up velmi rychlý přístup
				li.fragment.fade-up samply a efekty
				li.fragment.fade-up PCM, WAV, FLAC
		.scope.fragment.fade-up
			p Frekvenční doména
			ul
				li.fragment.fade-up lepší komprese
				li.fragment.fade-up hudba a hlasy
				li.fragment.fade-up MP3, OGG Vorbis
		.scope.fragment.fade-up
			p Synth formáty
			ul
				li.fragment.fade-up obsahují noty, případně i samply a efekty
				li.fragment.fade-up a) trackery: MOD, S3M, XM, IT
				li.fragment.fade-up b) MIDI (např. elektrické piano)
				li.fragment.fade-up c) proprietární formáty zvukových editorů
		.bottom-200.right-0
			img.height-500(src=imgAssets+'audio_logo.png' alt='NI-APH audio logo')
+frameInbox('Zvukové formáty')
	div
		.bottom-0.right-360
			img.height-790(src=imgAssets+'domains.svg' alt='Sound Formats')
		.bottom-10.right-360
			img.height-380(src=imgAssets+'domains.png' alt='Sound Formats')
+frameInbox('Historie digitálního zvuku')
	.important-green
		ul.spacing-2xs
			li.fragment <span class="highlight">1981</span> - <span class="highlight-2">Commodore MOS 6581</span>, vzestup demoscény
			li.fragment <span class="highlight">1985</span> - <span class="highlight-2">Yamaha YM3812 (OPL2)</span>, FM synth používaný pro DOS hry
			li.fragment <span class="highlight">1987</span> - <span class="highlight-2">Amiga Ultimate Soundtracker</span>, vzestup trackerů
			li.fragment <span class="highlight">1989</span> - <span class="highlight-2">Sound Blaster 1.0</span> - IBM PC dostalo PCM zvuky
			li.fragment <span class="highlight">1992</span> - <span class="highlight-2">Gravis Ultrasound</span> - MIDI music s wavetable
			li.fragment <span class="highlight">1996</span> - <span class="highlight-2">DirectSound</span> - vzestup (a pád) hardwarové akcelerace
			li.fragment <span class="highlight">1996</span> - <span class="highlight-2">VST pluginy</span> - umožnili syntetickou tvorbu komplexní hudby
			li.fragment <span class="highlight">1997</span> - <span class="highlight-2">Realtek ALC5611</span> - vzestup on-board audio čipů
			li.fragment <span class="highlight">1998</span> - <span class="highlight-2">Sound Blaster Live!</span> - poslední vlajková loď Creative Labs
			li.fragment <span class="highlight">2004</span> - <span class="highlight-2">High Definition Audio</span> - nová specifikace pro PC
			li.fragment <span class="highlight">2005</span> - sound processing se vrací z HW do SW (díky vícejádrovým CPU)
			li.fragment <span class="highlight">2012</span> - <span class="highlight-2">Dolby Atmos</span> - technologie pro 3D zvuk 
			li.fragment <span class="highlight">2017</span> - <span class="highlight-2">NVidia VRWorks</span> - zpracování zvuku na GPU
			li.fragment <span class="highlight">2021+</span> - vzestup AI toolů jako Lovo.ai, Murf, Synthesys, melody.ml
		.top-0.right-0.fragment
			img.height-400(src=imgAssets+'gus.png' alt='Gravis Ultrasound')
		.top-300.right-240.fragment
			img.height-200(src=imgAssets+'arrow.svg' alt='Arrow')
		.bottom-260.right-210.fragment
			img.height-100(src=imgAssets+'realtek.png' alt='Realtek')
		.bottom-0.right-180.fragment.tip
			img.height-200(src=globalAssets+'shrug.png' alt='Shrug icon')
