include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var imgAssets = '../assets/gameai_strategies/';
- var defaultBgr = 'backgrounds/ai_rts.jpg';

+mchapter('AI ve strategiích', imgAssets+'chapter_rts.svg')
+frameInbox('RTS')
	.important-orange.spacing-2xs
		ul
			li.italic.highlight-2.fragment Real-time strategie je bayesovská hra s nulovým součtem (Rubinstein, 1994)
				.bottom-0.right-0
					img.height-500(src=imgAssets+'totalwar.jpg' alt='Total War')
			li.fragment hra, kde hráč kontroluje obvykle vojenské jednotky s cílem porazit ostatní frakce
			li.fragment cíle: postavit základnu, získat zdroje, vybudovat armádu, porazit nepřítele
			li.fragment <span class="highlight-2">metody:</span> layer-based AI, rule-based AI
		.scope.fragment
			p Herní prvky
			ul
				li.fragment mapa, minimapa
				li.fragment zdroje
				li.fragment jednotky a jejich staty
				li.fragment budovy
		.scope.fragment
			p Další prvky
			ul
				li.fragment obvykle real-time gameplay
				li.fragment fog of war
				li.fragment tech tree
+frameInbox('RTS hry')
	.center.fill
		.grid.grid-cols-3.grid-rows-2.gap-40.width-80p
			+floppyApp(imgAssets+'rts_dune2.jpg', 'Dune II', '1992').fragment
			+floppyApp(imgAssets+'rts_redalert.jpg', 'C&C Red Alert', '1995').fragment
			+floppyApp(imgAssets+'rts_annihilation.jpg', 'Total Annihilation', '1997').fragment
			+floppyApp(imgAssets+'rts_warcraft3.jpg', 'Warcraft 3: Reign of Chaos', '2002').fragment
			+floppyApp(imgAssets+'rts_starcraft2.jpg', 'Starcraft II', '2010').fragment
			+floppyApp(imgAssets+'rts_ashes.jpg', 'Ashes of the Singularity', '2016').fragment
+frameInbox('RTS Featury')
	.important-orange
		.spacing-4xs
			.scope.fragment
				p Resource Control
				ul
					li.fragment čím více zdrojů má hráč pod kontrolou, tím rychleji buduje
			.scope.fragment
				p Tech tree
				ul
					li.fragment přímý graf obsahující technologická vylepšení frakce
			.scope.fragment
				p Build order (otevření)
				ul
					li.fragment prvních pár minut hraní, kdy hráč postaví klíčové budovy
				.bottom-0.right-0
					img.height-500(src=imgAssets+'rts.png' alt='RTS build order')
			.scope.fragment
				p Fog of war
				ul
					li.fragment mlha, která zakrývá neprozkoumaná místa na mapě
					li.fragment vyžaduje posílání průzkumných jednotek
			.scope.fragment
				p Micromanagement
				ul
					li.fragment ovládání jednotek v boji
+frameInbox('Příklad: Starcraft 2 Tech-tree')
	div
		.text-center
			img.height-760(src=imgAssets+'techtree_sc2.png' alt='Starcraft II Tech-tree')
+frameInbox('RTS vrstvy pro AIčko')
	.important-green
		ul
			li.fragment micromanagement
			li.fragment tactics (budování armády)
			li.fragment strategy (tech tree)
		.text-center
			img.height-500(src=imgAssets+'rts_layers.svg' alt='RTS AI layers')
+frameInbox('Layer-based AI')
	.important-green
		ul
			li.fragment(data-fragment-index='1') každá vrstva řeší určitý problém
			li.fragment(data-fragment-index='2') rozhodovací komponenty vyhodnocují dostupné informace a exekutoři vykonávají doporučené akce
			li.mt-50.fragment(data-fragment-index='3') <span class="highlight-2">Sensor</span> - čte herní stav
			li.fragment(data-fragment-index='4') <span class="highlight-2">Analyzer</span> - dává dohromady koherentní obraz situace ve hře
			li.fragment(data-fragment-index='5') <span class="highlight-2">Memorizer</span> - ukládá data jako analýza terénu, historie rozhodování,... 
			li.fragment(data-fragment-index='6') <span class="highlight-2">Decider</span> - stanovuje cíle
			li.fragment(data-fragment-index='7') <span class="highlight-2">Executor</span> - překládá cíle na akce
			li.fragment(data-fragment-index='8') <span class="highlight-2">Coordinator</span> - synchronizuje skupiny jednotek
			li.fragment(data-fragment-index='9') <span class="highlight-2">Actuator</span> - provádí přímou akci
		.text-center.mt-20.fragment(data-fragment-index='1')
			img.height-120(src=imgAssets+'rts_event_flow.svg' alt='Layer-based AI in games')
+frameInbox('Příklad: Layer-based AI')
	.top-20.left-20
		img.height-700(src=imgAssets+'rts_layer_based_example.svg' alt='Layer Based AI diagram')
	.top-20.right-0
		img.height-480(src=imgAssets+'layer_based_ai_cossacks.jpg' alt='Cossacks 3')
+frameInbox('Příklad: Megaglest')
	.important-green
		ul
			li.fragment Open-source 3D RTS (<a href="https://megaglest.org/download">ODKAZ</a>)
			li.fragment sedm frakcí: technická, magická, indiáni, egypt,...
			li.fragment rule-based AI
		.text-center.mt-40
			img.height-550(src=imgAssets+'rule_based_megaglest.jpg' alt='Megaglest')
+frameInbox('Megaglest architektura')
	div.text-center
		img.height-780(src=imgAssets+'megaglest_arch.svg' alt='Megaglest architecture')
+frameInbox('Megaglest pravidla')
	div
		table.center
			tr
				th Pravidlo
				th Podmínka
				th Příkaz
				th Frekvence [ms]
			tr
				td AiRuleWorkerHarvest
				td Worker stopped
				td Order worker to harvest
				td 2 000
			tr
				td AiRuleRefreshHarvester
				td Worker reassigned
				td
				td 20 000
			tr
				td AiRuleScoutPatrol
				td Base is stable
				td Send scout patrol
				td 10 000
			tr
				td AiRuleRepair
				td Building Damaged
				td Repair
				td 10 000
			tr
				td AiRuleReturnBase
				td Stopped unit
				td Order return to base
				td 5 000
			tr
				td AiRuleMassiveAttack
				td Enough soldiers
				td Order massive attack
				td 1 000
			tr
				td AiRuleAddTasks
				td Tasks empty
				td Add tasks
				td 5 000
			tr
				td AiRuleBuildOneFarm
				td Not enough farms
				td Build farm
				td 10 000
			tr
				td AiRuleResourceProducer
				td Not enough resources
				td Build resource producer
				td 5 000
			tr
				td AiRuleProduce
				td Performing prod. task
				td
				td 2 000
			tr
				td AiRuleBuild
				td Performing build task
				td
				td 2 000
			tr
				td AiRuleUpgrade
				td Performing upg. task
				td
				td 30 000
			tr
				td AiRuleUnBlock
				td Blocked units
				td Move surrounding units
				td 3 000