include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var defaultBgr = 'backgrounds/marioworld.jpg';
- var imgAssets = '../assets/gamification/';


// ===================================================== SLIDES =====================================================
+frameInbox('Pár slov o mně')
	.fill.center
		img.height-700(src=imgAssets+'dodo.jpg')
+mcontainer('')
	+frameShard.height-30p.top-280.center.z-index-100
		div.text-3xl Co je to hra?
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game01.jpg')
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game03.jpg')
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game04.jpg')
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game05.jpg')
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game06.jpg')
+mcontainer('Co je to hra?')
	+frameShard.width-880.top-3p.fragment.fade-up
		div Hra je <span class="highlight">aktivita</span>, která nás <span class="highlight">baví</span> a vyvolává v nás pocit <span class="highlight">uspokojení</span> z <span class="highlight">progresu</span>. 
			span.highlight-2 (Jesse Schell)
	+frameShard.width-860.top-14p.left-20p.fragment.fade-up
		div Hra je <span class="highlight">interaktivní</span> struktura, která motivuje hráče k dosažení daných <span class="highlight">cílů</span>. 
			span.highlight-2 (Greg Costikyan)
	+frameShard.width-860.top-25p.left-40p.fragment.fade-up
		div Hra je <span class="highlight">aktivita</span> vymezena <span class="highlight">pravidly</span>, ve kterých se hráč snaží dosáhnout různých <span class="highlight">cílů</span>. 
			span.highlight-2 (Alexander Galloway)
+mcontainer('Lidé rádi hrají hry')
	.top-110.left-50.fragment
		.kframe.height-400.width-700.absolute
		.height-400.width-700.p-10
			img.height-400.object-cover(src=imgAssets+'game_people2.jpg')
	.top-110.right-140.fragment
		.kframe.height-400.width-700.absolute
		.height-400.width-700.p-10
			img.height-400.object-cover(src=imgAssets+'game_people4.jpg')
	.bottom-0.left-160.fragment
		.kframe.height-400.width-700.absolute
		.height-400.width-700.p-10
			img.height-400.object-cover(src=imgAssets+'games_people.jpg')
	.bottom-0.right-40.fragment
		.kframe.height-400.width-700.absolute
		.height-400.width-700.p-10
			img.height-400.object-cover(src=imgAssets+'game_people5.jpg')
+mcontainer('')
	+frameShard.height-30p.top-280.center.z-index-100
		div.text-3xl Proč hrajeme hry?
+frameInbox('')
	.fill.center
		img.height-760(src=imgAssets+'dopamine.png')
+mcontainer('Hravost jako socializační aspekt')
	.top-110.fragment
		.kframe.height-400.width-470.absolute
		.height-400.width-470.p-10
			img.height-400.object-cover(src=imgAssets+'dopamine_birds.jpg')
	.top-110.left-480.fragment
		.kframe.height-400.width-600.absolute
		.height-400.width-600.p-10
			img.height-400.object-cover(src=imgAssets+'dopamine_cats.jpg')
	.top-110.right-0.fragment
		.kframe.height-400.width-550.absolute
		.height-400.width-550.p-10
			img.height-400.object-cover(src=imgAssets+'dopamine_bears.jpg')
	.bottom-0.left-0.fragment
		.kframe.height-400.width-530.absolute
		.height-400.width-530.p-10
			img.height-400.object-cover(src=imgAssets+'dopamine_dogs.jpg')
	.bottom-0.left-580.fragment
		.kframe.height-400.width-520.absolute
		.height-400.width-520.p-10
			img.height-400.object-cover(src=imgAssets+'dopamine_shark.jpg')
	.bottom-0.right-0.fragment
		.kframe.height-400.width-520.absolute
		.height-400.width-520.p-10
			img.height-400.object-cover(src=imgAssets+'dopamine_bees.jpg')
+frameInbox('Proč hrajeme hry')
	div
		ol.spacing-xl.mt-40
			li.fragment Příliv dopaminu, který hraje důležitou roli pro pocit štěstí
			li.fragment Uspokojivá práce - vidíme progres u jasně definovaných aktivit
			li.fragment Úspěch - lidé chtějí být úspěšní
			li.fragment Sociální vazby
			li.fragment Smysl - příležitost být součástí nějaké iniciativy
		.top-40.right-40
			img.height-800(src=imgAssets+'playing_games.jpg')
+mcontainer('')
	+frameShard.height-30p.top-280.center.z-index-100
		div.text-3xl Co je to gamifikace?
+mcontainer('Co je to gamifikace')
	+frameShard.fragment.height-30p.top-100.center.z-index-100
		div.text-xl Gamifikace je proces integrace <span class="highlight">herních</span> prvků do <span class="highlight">neherního</span> prostředí za účelem podněcovat <span class="highlight">hravost</span> a zvýšit tak <span class="highlight">motivaci</span> účastníků.
	+frameShard.fragment.height-30p.top-200.center.z-index-100
		div.text-xl Gamifikace je proces <span class="highlight">změny</span> prostředí, procesu či úkolu tak, aby se k němu přistupovalo jako ke <span class="highlight">hře</span>.
+mcontainer('Historie gamifikace')
	.top-110.fragment
		.kframe.height-400.width-500.absolute
		.height-400.width-500.p-10
			img.height-400.object-cover(src=imgAssets+'dice.jpg')
	.top-110.left-560.fragment
		.kframe.height-400.width-500.absolute
		.height-400.width-600.p-10
			img.height-400.width-480.object-crop(src=imgAssets+'komensky.jpg')
	.top-110.right-40.fragment
		.kframe.height-400.width-500.absolute
		.height-400.width-500.p-10
			img.height-400.object-cover(src=imgAssets+'scouting.jpg')
	.bottom-0.fragment
		.kframe.height-400.width-500.absolute
		.height-400.width-500.p-10
			img.height-400.object-cover(src=imgAssets+'sesamestreet.jpg')
	.bottom-0.left-560.fragment
		.kframe.height-400.width-500.absolute
		.height-400.width-600.p-10
			img.height-400.width-480.object-crop(src=imgAssets+'ataccama2.jpg')
	.bottom-0.right-40.fragment
		.kframe.height-400.width-500.absolute
		.height-400.width-500.p-10
			img.height-400.object-cover(src=imgAssets+'linkedin.jpg')
+frameInbox('Gamifikace - časová osa')
	div.center
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline05.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline06.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline07.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline08.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline09.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline10.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline11.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline12.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline13.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline14.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline15.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline16.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline17.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline18.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline19.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline20.svg')
		.top-100
			img.height-780.fragment.fade-in-then-out(src=imgAssets+'timeline21.svg')
+frameInbox('Homo Sapiens Laboriosi')
	.div.center
		.top-100.left-0
			img.height-600.fragment(src=imgAssets+'memes_games.png')
		.top-100.left-500
			img.width-470.fragment(src=imgAssets+'memes_great.png')
		.bottom-0.left-500
			img.width-470.fragment(src=imgAssets+'memes_wddth.png')
		.bottom-20.right-0.fragment
			img.width-650(src=imgAssets+'roosevelt.jpg')
		.top-10.right-0.fragment
			img.height-300(src=imgAssets+'work70hrs.jpg')
		.bottom-330.right-0.fragment
			img.width-650(src=imgAssets+'gamifikace_prace.jpg')
+frameInbox('CX Gamifikace - Ford Leaves')
	.fill.center
		img.height-700(src=imgAssets+'gamification_leaves.png')
+frameInbox('CX Gamifikace - loterie pro řidiče')
	.fill.center
		img.height-700(src=imgAssets+'gamification_lottery.jpg')
+frameInbox('CX Gamifikace - hudební silnice')
	.fill.center
		img.height-700(src=imgAssets+'gamification_road.png')
+frameInbox('CX Gamifikace - Gather Town')
	.fill.center
		img.height-700(src=imgAssets+'gamification_gather.png')
+frameInbox('EX Gamifikace - OKR')
	.fill.center
		img.height-280(src=imgAssets+'gamification_okr.png')
+frameInbox('EX Gamifikace - Scrum Poker')
	.fill.center
		img.height-700(src=imgAssets+'gamification_poker.jpg')
+frameInbox('EX Gamifikace - Ataccama a SpaceUP')
	.fill.center
		img.height-700(src=imgAssets+'ataccama.jpg')
+frameInbox('EX Gamifikace - Workshop box')
	.fill.center
		img.height-700(src=imgAssets+'workshopbox.jpg')
+frameInbox('EX Gamifikace - Nectar Points')
	.fill.center
		img.height-700(src=imgAssets+'mews_nektarpoints.jpg')
+frameInbox('Co pro gamifikaci potřebujeme?')
	div
		ol.text-xl
			li.fragment Jasný cíl/záměr
				.bottom-120.left-40
					img.height-180(src=imgAssets+'challenge_loop.svg')
			li.fragment Checkpointy/milestony (levely)
			li.fragment Metriky progresu (body, score)
			li.fragment Social reinforcement
			li.fragment Nárůst obtížnosti
	.top-20.right-20
		img.height-600(src=imgAssets+'happy_employee.png')
+frameInbox('Archetypy hráčů Richarda Bartlea')
	div
		.scope.spacing-xs.fragment
			p Achiever
			ul
				li zajímají ho výzvy, score, hledá recognition
				li příklad: badges
		.scope.spacing-xs.fragment
			p Explorer
			ul
				li rád zkoumá a analyzuje herní prostředí
				li příklad: R&D
		.scope.spacing-xs.fragment
			p Socializer
			ul
				li zajímají ho především sociální vazby a teamwork
				li příklad: teambuildingy
		.scope.spacing-xs.fragment
			p Killer
			ul
				li usiluje ve hrách o dominanci
				li příklad: engineering league
		.top-60.right-20
			img.height-800(src=imgAssets+'escape.jpg')
+frameInbox('Flow a levelování')
	div
		p.fragment Zavedeno psychologem Mihaly Csikszentmihalyi
		.top-250.left-120.fragment
			img.height-600(src=imgAssets+'flow.svg')
		.top-120.right-50.fragment
			figure
				img.height-720(src=imgAssets+'flow_mario.svg')
				p Příklad: Super Mario boss fighty
+frameInbox('Antipatterny gamifikace')
	div
		.top-100.left-50.fragment
			img.height-380(src=imgAssets+'udernik.jpg')
		.top-100.right-60.fragment
			img.height-380(src=imgAssets+'meme_performance.png')
		.bottom-30.left-50.fragment
			img.height-330(src=imgAssets+'zamroku.png')
		.top-100.left-500.fragment
			img.height-380(src=imgAssets+'meme_extramile.png')
		.bottom-30.right-60.fragment
			img.height-330(src=imgAssets+'scoreboards.jpg')