include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var defaultBgr = 'backgrounds/marioworld.jpg';
- var imgAssets = '../assets/gamification/';


// ===================================================== SLIDES =====================================================
+mcontainer('')
	+frameShard.height-30p.top-280.center.z-index-100
		div.text-3xl Co je to hra?
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game01.jpg')
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game02.jpg')
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game03.jpg')
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game04.jpg')
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game05.jpg')
+frameInbox('Je toto hra?')
	.fill.center
		img.height-700(src=imgAssets+'game06.jpg')
+mcontainer('Co je to hra?')
	+frameShard.width-880.top-3p.fragment.fade-up
		div Hra je <span class="highlight">aktivita</span>, která nás <span class="highlight">baví</span> a vyvolává v nás pocit <span class="highlight">uspokojení</span> z <span class="highlight">progresu</span>.
			span.highlight-2 (Jesse Schell)
	+frameShard.width-860.top-14p.left-20p.fragment.fade-up
		div Hra je <span class="highlight">interaktivní</span> struktura, která ponouká hráče k dosažení daných <span class="highlight">cílů</span>.
			span.highlight-2 (Greg Costikyan)
	+frameShard.width-860.top-25p.left-40p.fragment.fade-up
		div Hra je <span class="highlight">aktivita</span> vymezena <span class="highlight">pravidly</span>, ve kterých se hráč snaží dosáhnout různých <span class="highlight">cílů</span>.
			span.highlight-2 (Alexander Galloway)
+mcontainer('Lidi rádi hrají hry')
	.top-110.fragment
		.kframe.height-400.width-700.absolute
		.height-400.width-700.p-10
			img.height-400.object-cover(src=imgAssets+'games_people.jpg')
	.top-110.right-140.fragment
		.kframe.height-400.width-700.absolute
		.height-400.width-700.p-10
			img.height-400.object-cover(src=imgAssets+'game_people2.jpg')
	.bottom-0.left-240.fragment
		.kframe.height-400.width-700.absolute
		.height-400.width-700.p-10
			img.height-400.object-cover(src=imgAssets+'game_people4.jpg')
	.bottom-0.right-40.fragment
		.kframe.height-400.width-500.absolute
		.height-400.width-500.p-10
			img.height-400.object-cover(src=imgAssets+'game_people3.jpg')
+mcontainer('')
	+frameShard.height-30p.top-280.center.z-index-100
		div.text-3xl Proč hrajeme hry?
+frameInbox('')
	.fill.center
		img.height-760(src=imgAssets+'dopamine.png')
+mcontainer('Hravost jako socializační aspekt')
	.top-110.fragment
		.kframe.height-400.width-470.absolute
		.height-400.width-470.p-10
			img.height-400.object-cover(src=imgAssets+'dopamine_birds.jpg')
	.top-110.right-340.fragment
		.kframe.height-400.width-600.absolute
		.height-400.width-600.p-10
			img.height-400.object-cover(src=imgAssets+'dopamine_cats.jpg')
	.bottom-0.left-240.fragment
		.kframe.height-400.width-530.absolute
		.height-400.width-530.p-10
			img.height-400.object-cover(src=imgAssets+'dopamine_dogs.jpg')
	.bottom-0.right-40.fragment
		.kframe.height-400.width-520.absolute
		.height-400.width-520.p-10
			img.height-400.object-cover(src=imgAssets+'dopamine_shark.jpg')
+frameInbox('Proč hrajeme hry')
	div
		ol.spacing-xl
			li.fragment Dopamine surge, který hraje důležitou roli pro pocit štěstí
			li.fragment Uspokojivá práce - vidíme progres u jasně definovaných aktivit
			li.fragment Úspěch - lidé chtějí být úspěšní
			li.fragment Sociální vazby
			li.fragment Smysl - příležitost být součástí nějaké iniciativy
		.top-40.right-40
			img.height-800(src=imgAssets+'playing_games.jpg')
+mcontainer('')
	+frameShard.height-30p.top-280.center.z-index-100
		div.text-3xl Co je to gamifikace?
+mcontainer('Co je to gamifikace')
	+frameShard.height-30p.top-280.center.z-index-100
		div.text-xl Gamifikace je proces integrace <span class="highlight">herních</span> prvků do <span class="highlight">neherního</span> prostředí za účelem podněcovat <span class="highlight">hravost</span> a zvýšit tak <span class="highlight">motivaci</span> účastníků.
+mcontainer('Historie gamifikace')
	.top-110.fragment
		.kframe.height-400.width-470.absolute
		.height-400.width-470.p-10
			img.height-400.object-cover(src=imgAssets+'dice.jpg')
	.top-110.right-340.fragment
		.kframe.height-400.width-600.absolute
		.height-400.width-600.p-10
			img.height-400.object-cover(src=imgAssets+'labyrint.jpg')
	.bottom-0.left-240.fragment
		.kframe.height-400.width-500.absolute
		.height-400.width-500.p-10
			img.height-400.object-cover(src=imgAssets+'scouting.jpg')
	.bottom-0.right-40.fragment
		.kframe.height-400.width-520.absolute
		.height-400.width-520.p-10
			img.height-400.object-cover(src=imgAssets+'gamification_modern.jpg')
+frameInbox('Gamifikace - časová osa')
	div.center
		img.height-780(src=imgAssets+'timeline.svg')
+frameInbox('Homo Sapiens Laboriosi')
	div.flex-cols-3.items-center
		img.height-700.fragment(src=imgAssets+'memes_games.png')
		img.height-500.fragment(src=imgAssets+'memes_great.png')
		img.height-300.fragment(src=imgAssets+'memes_wddth.png')
		.bottom-0.right-0.fragment
			img.height-300(src=imgAssets+'roosevelt.jpg')
+frameInbox('Homo Sapiens Laboriosi')
	div.center
		img.height-420.fragment(src=imgAssets+'gamifikace_prace.jpg')
		img.height-240.mt-20.fragment(src=imgAssets+'gamifikace_prace2.jpg')
+frameInbox('Gamifikace - Ford Leaves')
	.fill.center
		img.height-700(src=imgAssets+'gamification_leaves.png')
+frameInbox('Gamifikace - loterie pro řidiče')
	.fill.center
		img.height-700(src=imgAssets+'gamification_lottery.jpg')
+frameInbox('Gamifikace - hudební silnice')
	.fill.center
		img.height-700(src=imgAssets+'gamification_road.png')
+frameInbox('Gamifikace - duolingo')
	.fill.center
		img.height-700(src=imgAssets+'gamification_duolingo.png')
+frameInbox('Gamifikace - NPDD')
	.fill.center
		img.height-700(src=imgAssets+'npdd.png')
+frameInbox('Gamifikace - OKR')
	.fill.center
		img.height-280(src=imgAssets+'gamification_okr.png')
+frameInbox('Gamifikace - Scrum Poker')
	.fill.center
		img.height-700(src=imgAssets+'gamification_poker.jpg')
+frameInbox('Gamifikace - Ataccama a SpaceUP')
	.fill.center
		img.height-700(src=imgAssets+'ataccama.jpg')
+frameInbox('Co pro gamifikaci potřebujeme?')
	div
		ol.text-xl
			li.fragment Jasný cíl/záměr
				.bottom-120.left-40
					img.height-180(src=imgAssets+'challenge_loop.svg')
			li.fragment Checkpointy/milestony (levely)
			li.fragment Metriky progresu (body, score)
			li.fragment Social reinforcement
			li.fragment Nárůst obtížnosti
	.top-20.right-20
		img.height-600(src=imgAssets+'happy_employee.png')
+frameInbox('Archetypy hráčů Richarda Bartlea')
	div
		.scope.spacing-xs.fragment
			p Achiever
			ul
				li zajímají ho výzvy, score, hledá recognition
				li příklad: badges
		.scope.spacing-xs.fragment
			p Explorer
			ul
				li rád zkoumá a analyzuje herní prostředí
				li příklad: R&D
		.scope.spacing-xs.fragment
			p Socializer
			ul
				li zajímají ho především sociální vazby a teamwork
				li příklad: teambuildingy
		.scope.spacing-xs.fragment
			p Killer
			ul
				li usiluje ve hrách o dominanci
				li příklad: engineering league
		.top-60.right-20
			img.height-800(src=imgAssets+'escape.jpg')
+frameInbox('Flow a levelování')
	div
		p.fragment Zavedeno psychologem Mihaly Csikszentmihalyi
		.top-250.left-120.fragment
			img.height-600(src=imgAssets+'flow.svg')
		.top-120.right-50.fragment
			figure
				img.height-720(src=imgAssets+'flow_mario.svg')
				p Příklad: Super Mario boss fighty
+frameInbox('Antipatterny gamifikace')
	div
		.top-100.left-20.fragment
			img.height-780(src=imgAssets+'udernik2.jpg')
		.top-100.left-680.fragment
			img.height-400(src=imgAssets+'meme_performance.png')
		.bottom-30.left-680.fragment
			img.height-350(src=imgAssets+'zamroku.png')
		.top-100.right-40.fragment
			img.height-300(src=imgAssets+'meme_extramile.png')